.notFound {
  margin-left: 60px;
  margin-right: 60px;
}

.notFound_txt {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.notFound_title {
  font-size: 200px;
  color: #ff6060;
  margin-bottom: 0;
}

.notFound_description {
  font-size: 36px;
  color: #ff6060;
  font-weight: 500;
}

.notFound_return_home {
  font-size: 18px;
  color: #ff6060;
  margin-top: 100px;
  font-weight: 500;
}

@media only screen and (max-width: 730px) {
  .notFound_title {
    font-size: 96px;
    margin-top: 200px;
  }

  .notFound_description {
    font-size: 18px;
    line-height: 25px;
    margin-left: 40px;
  }

  .notFound_return_home {
    font-size: 14px;
  }
}
