.banner {
  position: relative;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-right: min(100px);
  margin-left: min(100px);
  margin-right: max(10%);
  margin-left: max(10%);
  object-fit: contain;
  display: flex;
  background-color: black;
  border-radius: 25px;
  height: 223px;
}

.banner_img {
  width: 100%;
  border-radius: 25px;
  object-fit: cover;
  opacity: 70%;
}

.banner_txt {
  position: absolute;
  top: 60px;
  height: 68px;
  left: 20%;
  padding-left: 16px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 48px;
  font-weight: 500;
}

@media only screen and (max-width: 730px) {
  .banner_img {
    border-radius: 10px;
  }

  .banner {
    margin: 0px 20px 0px 20px;
    display: flex;
    border-radius: 10px;
    height: 111px;
  }

  .banner_txt {
    font-size: 24px;
    flex-wrap: wrap;
    top: 20px;
    left: 20px;
  }
}

@media only screen and (min-width: 730px) {
  .banner_txt br {
    display: none;
  }
}
