.card img {
  height: 100%;
  border-radius: 10px;
  filter: brightness(0.7);
  object-fit: cover;
  max-width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 340px;
  margin-bottom: 10px;
  height: 340px;
  text-decoration: none;
  position: relative;
  border-radius: 10px;
  object-fit: cover;
}

.card_title {
  position: absolute;
  font-size: 18px;
  font-weight: 500;
  bottom: 0;
  left: 0;
  width: 80%;
  color: white;
  padding-left: 15px;
}

@media only screen and (max-width: 730px) {
  .card {
    height: 255px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .card img {
    height: 100%;
  }
}
